.container.col-md-10.col-sm-10.col-xs-12
  #categories
    = simple_form_for(@product, html: { class: '' }, multipart: true ) do |f|
      
      = f.input :name, label: "Product Name", input_html: {class: "form-control" }
      %br/
      %label Category
      = f.collection_select(:category_id, Category.all, :id, :name, prompt: true)
      %br/
      %br/
      %label Brand
      = f.collection_select(:brand_id, Brand.all, :id, :name, prompt: true)
      
      %br/
      %br/
      / = render :partial => 'pictures/form', remote: true,:locals => { :products => @products }
      / %br/
      / %br/
      
      = f.input :description, label: "Product Description", input_html: {class: "form-control" }
      
      = f.input :price, label: "Price", input_html: {class: "form-control" }
      %br/
      = f.button :submit, class: "btn btn-default"